extends layout

block content
  h1= title
  div#figleaf Fetching content...
  div#content
    table#totals
      thead
        tr
          th Ledger
          th Expense
          th Revenue
      tbody
      tfoot
    p
      small Work sample by Neil Kandalgaonkar, 2016
  script(src='/javascripts/bench.js')
