extends layout

block content
  h1= title
  div#figleaf Fetching content...
  div#content
    table#totals
      thead
        tr
          th.ledger Ledger
          th.expense Expense
          th.revenue Revenue
      tbody
      tfoot
    p#balance
    p
      small Work sample by Neil Kandalgaonkar, 2016
  script(src='/javascripts/bench.js')
