body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

/* avoid FOUC */
#content {
  display: none;
}

#totals {
  empty-cells: show;
  border-collapse: collapse;
}

#totals thead td, tbody td {
  border-bottom: 1px solid #cccccc;
}

#totals td.ledger, #totals th.ledger {
  text-align: left;
}

#totals th.revenue, #totals th.expense, 
#totals td.revenue, #totals td.expense {
  /* technically should be decimal alignment but 
   * most browsers do not support it */
  text-align: right;
}

#totals td, #totals th {
  padding: 0.25em 3em 0.25em 0em;
  margin: 0em;
}

#totals td.revenue, #totals th.revenue {
  padding-right: 0em;
}

#totals th {
  font-weight: bold;
  border-bottom: 2px solid black;
}

#totals tfoot td {
  font-weight: bold;
  border-top: 2px solid black;
}

#totals td.revenue {
  color: #009900;
}

#balance {
  font-weight: bold;
  font-size: larger;
}

a {
  color: #00B7FF;
}
